.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.Origami{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

body{
    margin: 0px;
    background-color: #f7f2f2;
}

a:link{
    color: cadetblue;

}

a:visited{
    color: brown;
}

.Origami:hover{
    transform: scale(1.2);
}
.Origami img{
    position: relative;
}

.Origami p{
    opacity: 1;
    position:absolute;
}

.bodyImg{
    position: relative;
}

.bodyImg p{
    position: absolute;
    top:20%;
    left:40%;
    color:white;
}

.bodyImg h3{
    position: absolute;
    top:50%;
    left:50%;
    color:white;
    transform: translate(-50%, -50%);
}

